{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load bootstrap3 %}
{% load static %}

{% block title %}Trucker{% endblock %}

{% block body %}
    <div id="main-content">
        <div id="bread-and-butter-section" class="section">
            <div class="wrap">

            </div>
        </div>

        <div id="contact-us-section" class="section">
            <div class="wrap">
                <h4>We're right under your nose</h4>
                <div id="contact-location-section-element" class="section-element-3col">
                    <p>UP Alumni Engineers Centenial Hall, P. Velasquez St, Diliman, QC</p>
                </div>
                <div id="contact-tel-section-element" class="section-element-3col">
                    <p>+(63) 917 309 1216</p>
                </div>
                <div id="contact-email-section-element" class="section-element-3col">
                    <p><a href="mailto:contact@icannhas.com">contact@trucker.com</a></p>
                </div>
            </div>
        </div>
        <div id="latest-tweets-section" class="section" style="height: 273.0344070278185px;">
            <div class="wrap">

            </div>
        </div>
    </div>
{% endblock %}
