<div id="footer">
    <span class="copyright">Copyright © 2014 trucker</span>
    <div id="right-footer">
        <div id="footer-nav">
            <div class="menu-footer-menu-container"><ul id="menu-footer-menu" class="menu"><li id="menu-item-56" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-56"><a href="#">Careers</a></li>
<li id="menu-item-58" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-58"><a href="#">News &amp; Updates</a></li>
<li id="menu-item-57" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57"><a href="#">Contact</a></li>
</ul></div>                </div>
        <div id="social-links">
            <a class="fb-link" target="_blank" href="#">Facebook</a>
            <a class="twitter-link" target="_blank" href="#">Twitter</a>
            <a class="linkedin-link" target="_blank" href="#">LinkedIn</a>
        </div>
    </div>
</div>
