<div id="header" style="height: 272.0387994143485px;">
        <div id="top-header">
            <div class="wrap">
                <a id="site-home-url" href="/">
                <div id="logo-container">
                    <div id="logo" style="background-size: 80%;"></div>
                    <div id="title-container" style="width: 140px;"><h1>Trucker</h1></div>
                </div>
                </a>
                <div id="nav" style="margin-left: 185px;">
                    <div class="menu-main-menu-container">
                      <ul id="menu-main-menu" class="menu">
                        <li id="menu-item-18" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-18"><a href="#">Blog</a></li>
                        {% if user.is_authenticated %}
                            {% if user.is_superuser %}
                            <li id="menu-item-17" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17"><a href="/register/">Add Client</a></li>
                            <li id="menu-item-17" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17"><a href="/createdevice/">Add Device</a></li>
                            {% else %}
                            <li id="menu-item-17" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17"><a href="/manage/">Manage Devices</a></li>
                            <li id="menu-item-17" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17"><a href="/updateprofile/">Update Profile</a></li>
                            {% endif %}
                        <li id="menu-item-17" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17"><a href="/logout/">Logout</a></li>
                        {% else %}
                        <li id="menu-item-17" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17"><a href="#">Partners</a></li>
                        <li id="menu-item-17" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17"><a href="#">Contact</a></li>
                        <li id="menu-item-17" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17"><a href="/login/">Login</a></li>
                        {% endif %}

                      </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="slogan-container">
            <div id="slogan" style="left: 286px; display: none;">
                <div id="slogan-bg"></div>
                <div id="slogan-content">
                    <h1>HELLO THERE, WE'RE <b>TRUCKER</b></h1>
                    <h2>Description here</h2>
                </div>
            </div>
        </div>
    </div>
